* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

body{
    background-color: #1B6B50;
}
.pagination{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
    color: black;
}
.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    color: white;
    border: 1px solid white;
}
.pagination .page-num:hover{
    background-color: rgba(29, 161, 242, 0.40);
    color: white;
}
.pagination .activ{
    background-color:#1DA1F2;
    color: white;
}

.Adminka {
    width: 100%;
    height: 100%;

}
.Adminka .box {
    width: 100%;
    height: 100%;

}
.Adminka .box .navbar {
    width: 100%;
    height: 120px;
    background-color: #15523D;
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.Adminka .box .navbar .container .navBox {
    width: 100%;
    display: flex;
}
.Adminka .box .navbar .container .navBox .link{
    width: 142px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.99;
    box-shadow: 0 4px 13px rgba(27, 25, 25, 0.15);
    backdrop-filter: blur(60px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-right: 20px;
}
.Adminka .box .navbar .container .navBox .activ{
    background-color: inherit;
    border: 1px solid white;
}
.Adminka .box .navbar .container .navBox .src{
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.99;
    box-shadow: 0 4px 13px rgba(27, 25, 25, 0.15);
    backdrop-filter: blur(60px);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 50px;
    width: 367px;
}
.Adminka .box .navbar .container .navBox .src input{
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 75px;
}
.Adminka .box .navbar .container .navBox .src img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 13px;
    left: 25px;
}
.Adminka .box .table{
    color: white;
    width: 100%;
    margin-top: 150px;
}