@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.inputBox{
    position: relative;
}
.inputBox img{
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 22px;
    width: 7%;
    z-index: 100;
}
.App {
    width: 100%;
    height: 100%;
    background-color: #1B6B50;
    overflow: hidden;
    box-sizing: border-box;
}
.App .box {
    width: 100%;
    height: 100%;
    background-image: url("../img/politex_img.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 350px ;
}
.navbar {
    width: 100%;
    height: 90px;
    background-color: #15523D;
}
.navbar .container {
    justify-content: center;
}
.navbar .container .navBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .container .navBox .title {
    text-align: center;
    font-weight: bold;
    line-height: 120%;
    font-size: 35px;
    color: white;
}

.footer {
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    background-color: #15523D;
    display: flex;
    justify-content: space-between;
}
.footer .left p{
    color: white;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 10px 10px;
}
.footer .righte{
    display: flex;
    align-items: center;
    justify-content: end;

}
.footer .righte p{
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

.footer .wrapper {
    display: flex;
    list-style: none;
    padding: 0!important;
}
.footer .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 0;
    margin: 10px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .facebook {
    color: #1877F2 !important;
}
.footer .wrapper .youtube {
    color: #CD201F !important;
}
.footer .wrapper .twitter {
    color: #1DA1F2 !important;
}
.footer .wrapper .instagram {
    color: #E4405F !important;
}
.footer .wrapper .telegram {
    color: #229ED9 !important;
}
.footer .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.footer .wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.footer .wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2 !important;
    color: #ffffff !important;
}

.footer .wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2 !important;
    color: #ffffff !important;
}

.footer .wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F !important;
    color: #ffffff !important;
}

.footer .wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F !important;
    color: #ffffff !important;
}

.footer .wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
    background: #229ED9 !important;
    color: #ffffff !important;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}


@media (max-width: 576px){
    .navbar .container .navBox .title {
        font-size: 20px;
    }
    .footer {
        height: 170px;
        padding: 10px;
        display: block;
    }
    .footer .righte{
        justify-content: left;
        margin: 0 0 0 10px;

    }

}
@media (max-width: 767px) and (min-width: 576px){
    .navbar .container .navBox .title {
        font-size: 25px;
    }
}
@media (max-width: 1200px){
    .navbar {
        height: 100px;
    }
}