.SignIn {
  position: relative;
  width: 100%;
  background-color: #1B6B50;
  overflow: hidden;
  box-sizing: border-box;

  .ortga {
    position: absolute;
    top: 100px;
    left: 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 120%;
  }

  .Signbox {
    width: 496px;
    min-height: 67.8vh;
    margin: 80px auto 40px auto;
    z-index: 100;
    position: relative;

    .Logo {
      width: 173px;
      height: 173px;
      display: flex;
      margin: 0 auto;

    }

    h3 {
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      margin: 30px 0 40px 0;
      color: #FFFFFF;
      opacity: 0.68;
    }

    p{
      text-align: center;
      color: #FFFFFF;
      opacity: 0.68;
    }

    input {
      height: 50px;
      padding: 0 72px 0 22px;
      color: white;
      background: rgba(112, 190, 163, 0.51);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
      border-radius: 40px;
      border: none;
      font-size: 18px;
      margin-bottom: 26px;

      &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
      }
    }
    .inputBox{
      position: relative;
      height: 50px;
      margin-bottom: 26px;
      img{
        position: absolute;
        top: 10px;
        cursor: pointer;
        right: 22px;
        width: 30px;
        z-index: 100;
      }
    }
    button{
      height: 50px;
      background: #FFFFFF;
      box-shadow: 0 4px 12px rgba(27, 107, 80, 0.06);
      border-radius: 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #1B6B50;
     z-index: 1000;
    }
  }

  .GroupImg {
    position: absolute;
    bottom: -10%;
    width: 100%;
  }
}

